body {
    background-color: #ebeff9;
    font-family: arial, sans-serif;
    font-size: 13px
}

.box {
	border-radius: 4px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	border: 0px solid white;
}

#head {
    margin: 20px auto 20px;
    padding: 12px;
    width: 600px;
}

#content {
    margin: 20px auto 20px;
    padding: 12px;
    width: 600px;
}

#instructions {
    margin: 40px auto 20px;
    padding: 12px;
    width: 600px;
}

h1 {
    color: #333333;
    font-size: 1.5em;
    text-align: center
}

.shortcut_name {
	width:120px;
	display:inline-block;
}
